html, body { 
	height: 100%;
	width: 100%;
	margin: 0px;
}

body { 
	font-family: 'Roboto', sans-serif;
}

.logo { 
	color: #a3bc7f;
}

h2 { 
	color: #ffffff;
	font-size: 25px;
}

a { 
	color: #a3bc7f;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

a:hover { 
	color: #c2d9a0;
}

nav { 
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	z-index: 70;
	width: 100%;
	margin:0;
	font-size: 20px;
	background: #222222;
	color: #ffffff;
}


.nav-item { 
	display: inline-block;
 	padding-left: 20px;
 	position: relative;
 	top: 50%;
 	transform: translateY(-50%);
 	-webkit-transform: translateY(-50%);
 	-moz-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
}

.nav-item a { 
	color: #ffffff;
}

.nav-item a:hover { 
	color: #a3bc7f;
}

.label { 
	position: absolute;
	right: 20px;
	/*padding: 0 10px;*/
	color: #a3bc7f;
}

#info-container { 
	width: 100%;
	min-height: calc(100% - 50px);
	background-color: #333333;
	color: #d8d8d8;
}

#info-block { 
	display: table;
	width: 600px;
	padding-top: 20px;
	padding-bottom: 30px;
	margin: auto;
}

.info-section { 
	padding-top: 30px;
}

#icon-container { 
	width: 100%;
	/*height: calc(100% - 50px);*/
	padding-top: 50px;
	background-color: #d8d8d8;
}

#icons { 
	position: relative;

	margin: auto;
	text-align: center;
	width: 80%;

	padding-top: 30px;
	padding-bottom: 30px;
}

.icons-centered { 	
 	top: 50%;
 	transform: translateY(-50%);
 	-webkit-transform: translateY(-50%);
 	-moz-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
}

.icon { 
	width: 11%;
}

#hidden-icons { 
	display: none;
}

/* Mobile (portrait) */
@media only screen and (orientation: portrait) { 	
	.icon { width: 24%;}
	.label { display: none;}
	#info-block { padding-left: 10%; 
				  padding-right: 10%;
				  width: auto;}
}

/* Bootstrap button lol */
.see-more-btn {
  display: inline-block;
  margin: 30px 0px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.see-more-btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.see-more-btn:hover,
.see-more-btn:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.see-more-btn:active,
.see-more-btn.active {
  outline: 0;
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}